---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Yellow Boat Ltd</h1>
			<p>
				
This Site is under construction

			</p>

<li>Facebook Page <code></li>
			<p>
			
				<a href="http://facebook.com/pepsi.yellow.boat">Facebook Yellow Boat/a> 
			
		</main>
		<Footer />
	</body>
</html>
